@page "/"

<PageTitle>Home</PageTitle>
<body>
 <header>
        <img src="LogoBankDavno.PNG" alt="Logo">
        <button class="header-button">Iniciar Sesión</button>


    </header>

    <div class="banner">
        <img class="Banner_img" src="Banner_1.png" alt="Banner_1"> 
    </div>
    
    
       <section class="Productos">
        
        <div><img src="Producto1.png" alt="Producto1"></div>
        <div><img src="producto2.png" alt="Producto2"></div>
        <div><img src="Producto3.png" alt="Producto3"></div>
        <div><img src="Producto4.png" alt="Producto4"> </div>     
            
       </section>


    <p> Misión: Proporcionar una plataforma financiera digital segura, intuitiva y eficiente que satisfaga las necesidades de nuestros clientes, ofreciendo productos y servicios financieros de calidad, promoviendo la inclusión financiera y contribuyendo al desarrollo económico de la comunidad.<hr>

        Visión: Ser reconocidos como líderes en innovación y excelencia en servicios financieros digitales, brindando una experiencia superior al cliente y marcando la pauta en la transformación digital del sector financiero.<hr>

        Valores:<br>

        Integridad: Actuar con honestidad, transparencia y ética en todas nuestras operaciones y relaciones.<br>
        Innovación: Buscar constantemente nuevas formas de mejorar y ofrecer soluciones financieras más efectivas y accesibles.<br>
        Excelencia: Comprometernos a brindar servicios y productos de alta calidad que superen las expectativas de nuestros clientes.<br>
        Empatía: Comprender las necesidades y preocupaciones de nuestros clientes, ofreciendo soluciones personalizadas y orientadas al cliente.<br>
        Responsabilidad: Asumir la responsabilidad de nuestras acciones y contribuir positivamente al desarrollo sostenible de la sociedad.</p

    <footer  class="footer">
        <p> Derechos protegidos por Bank DavNo C.A., Banco Universal</p> 
    </footer>

</body>

