@page "/Deposito"
@rendermode InteractiveServer
@inherits DepositoBase

<PageTitle>CuentaActual</PageTitle>

<h1>Deposito</h1>

<EditForm Model="@movimiento" OnValidSubmit="Depositar">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Número de Deposito: </label>
        <InputNumber class="from-control" @bind-Value="movimiento.IDMovimiento" />
    </div>
    <div class="form-group">
        <label>Numero de cuenta Debitada: </label>
        <InputNumber @bind-Value="movimiento.IDCuentaDebitada" />
        <ValidationMessage For="@(() => movimiento.IDCuentaDebitada)" />
    </div>

     <div class="form-group">
        <label>Monto a Depositar: </label>
        <InputNumber @bind-Value="movimiento.Monto" />
        <ValidationMessage For="@(() => movimiento.Monto)" />
    </div>



    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Depositar" />
    </div>
    <ValidationSummary />


</EditForm>

<footer class="footer">
    <p>Derechos protegidos por Bank DavNo C.A., Banco Universal</p>
</footer>