@page "/Archivo"
@rendermode InteractiveServer
@inherits ArchivoBase

<h3>Tú Archivo</h3>

<p>@mensaje</p> 

<EditForm Model="@archivo" OnValidSubmit="Actualizar">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>ID Del Archivo Actual: </label>
        <InputNumber class="from-control" @bind-Value="archivo.IDArchivo" />
    </div>
    <div class="form-group">
        <label>Documento Actual: </label>
        <InputText @bind-Value="archivo.Documento" />
        <ValidationMessage For="@(() => archivo.Documento)"/>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Actualizar"/>
    </div>
    <ValidationSummary/>
</EditForm>