@page "/"


<h1>Welcome to your new app.</h1>

<header>
    <img src="LogoBankDavno.PNG" alt="Logo" />
    <button class="header-button">Iniciar Sesión</button>
</header>

<div class="banner">
    <img class="Banner_img" src="Banner_1.png" alt="Banner_1" />
</div>

<section>
    <div><img src="Producto1.png" alt="Producto1" /></div>
    <div><img src="producto2.png" alt="Producto2" /></div>
    <div><img src="Producto3.png" alt="Producto3" /></div>
    <div><img src="Producto4.png" alt="Producto2" /></div>
    }
</section>

<footer class="footer">
    <p>Derechos protegidos por Bank DavNo C.A., Banco Universal</p>
</footer>
