body{ 
    background-color: #f1ecec; 
    margin: 0; 
    padding: 5%; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
 
} 
 
html, body { 
    margin: 0; 
    padding: 0; 
} 
 
.banner { 
    padding-top: 20px; 
    display: flex ; 
    flex-direction: column; 
    align-items: center; 
} 

p {
    color: red;
}

header { 
    background-color: hsl(174, 72%, 56%); 
    padding: 10px; 
    color: #fff; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 
 
 
header img{ 
    height: 15vh; 
    width: 20vw; 
    display: flex; 
} 
 
.Productos { 
    display: flex; 
    justify-content: space-around; /* Distribuye uniformemente el espacio entre las imágenes */ 
} 
 
.Productos div { 
    flex: 1; /* Permite que las imágenes ocupen todo el espacio disponible */ 
} 
 
 
.imgbanner img{ 
    padding-top: 1vh; 
    height: 60%; 
    width: 90%; 
    margin: 0 auto;  
     
} 
 
.p{ 
    text-align: center;   
    display: flex; 
} 
.footer{ 
    background-color: hsl(174, 72%, 56%); 
    padding: 30px; 
    color: hsl(0, 0%, 100%); 
 
    flex-direction: row; 
    align-content: end; 
     
 
}
