@page "/Retiros"
@rendermode InteractiveServer
@inherits RetirosBase

<PageTitle>CuentaActual</PageTitle>

<h1>Retiros</h1>

<EditForm Model="@movimiento" OnValidSubmit="Retirar">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Número de Retiro: </label>
        <InputNumber class="from-control" @bind-Value="movimiento.IDMovimiento" />
    </div>
    <div class="form-group">
        <label>Numero de cuenta Acreditada: </label>
        <InputNumber @bind-Value="movimiento.IDCuentaAcreditada" />
        <ValidationMessage For="@(() => movimiento.IDCuentaAcreditada)" />
    </div>

     <div class="form-group">
        <label>Monto a retirar: </label>
        <InputNumber @bind-Value="movimiento.Monto" />
        <ValidationMessage For="@(() => movimiento.Monto)" />
    </div>



    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Retirar" />
    </div>
    <ValidationSummary />


</EditForm>

<footer class="footer">
    <p>Derechos protegidos por Bank DavNo C.A., Banco Universal</p>
</footer>